* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #afafaf;
}

body {
  font: 75%/1.5em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  text-shadow: #000 0px 0px 0px;
  background: #000 url(../images/background.png) repeat 0 0;
}

ul {
  list-style-type: none;
  margin-bottom: 2em;
}

h1, h2 {
  font: bold 1.5em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
  display: block;
}

p {
  margin-bottom: 1.5em;
  clear: both;
}

header {
  text-transform: uppercase;
  text-align: center;
  /*background: url(images/banner.png);*/
}

header p {
  width: 575px;
  height: 292px;
}

header h1 {
  /*font-family: Arial, Helvetica, Tahoma, sans-serif;*/
  line-height: .8em;
  /*letter-spacing: .01ex;*/
  font-size: 150pt;
  font-weight: normal;
  font-stretch: ultra-condensed;
}

header h2 {
  line-height: .8em;
  font-size: 50pt;
}

#social-links {
  background: rgba(255,255,255,0.0);
  height: 200px;
}

#container {
  border: 1px solid rgba(0,0,0,.2);
  background: #222;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
}

#main {
  /*border-top: 2px dotted white;*/
}

header {
  width: 100%;
  height: 100%;
  background-color: #B00B94;
}

.clear {
  clear: both;
}

header h1 {
  background: url(../images/banner.png) no-repeat 0 0;
  width: 467px;
  height: 300px;
  font-size: 80px;
  text-indent: -9999px;
}
header {
  -webkit-transition: -webkit-transform .5s linear;
  -mos-transition: -webkit-transform .5s linear;
  -o-transition: -webkit-transform .5s linear;
  
  /*-webkit-box-shadow: 0 3px 6px rgba(1,1,1,.25);*/
}
header:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
}

#social h2 {
  /*text-align: center;*/
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  text-align: justify;
  color: #fff;
  /*background: purple;*/ /*rgba(255,255,255,0.1);*/
  padding: 8px;
  padding-bottom: 16px;
  margin-bottom: 8px;
  border-bottom: 2px dotted white;
  /*-webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px 8px;*/
}

#social h2 a {
  color: cyan;
  text-decoration: none;
  -webkit-transition: all .15s ease-in;
  -mos-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}
#social h2 a:hover {
  background-color: cyan;
  color: black;
}

#social h2 span {
  
}

#social {
  margin-top: 10px; 
}

#social .social-links {
  margin: 0 auto;
  width: 520px;
}

#social .link {
  float: left;
  width: 110px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  
  margin-left: 38px;
  margin-right: 0;
  margin-bottom: 15px;
  margin-top: 20px;
}

#social .link a {
  /*-webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);*/
}

.link a {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  -o-transition: all .15s linear;
  /*-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -o-box-shadow: 0 3px 6px rgba(0,0,0,.25);*/

  opacity: .70;
}

#social .link a:hover {
  -webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  -o-transform: scale(1.10);

  background-color: cyan;
  color: black;
  text-shadow: none;
  text-decoration: none;
  -webkit-border-radius: 5px 5px;
  -mos-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  
  opacity: .75;
}

#social .link .rarely {
  color: #999;
}

#social .link a.rarely:hover {
  color: #aaa;
}

 #social .link .twitter {
  background: url(../images/links/twitter.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .facebook {
  background: url(../images/links/facebook.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .foursquare {
  background: url(../images/links/foursquare.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .github {
  background: url(../images/links/other.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .google {
  background: url(../images/links/google.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .grooveshark {
  background: url(../images/links/grooveshark.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .linkedin {
  background: url(../images/links/linkedin.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link .skype {
  background: url(../images/links/other.png) no-repeat left center;
  padding-left: 40px;
  display: block;
}

#social .link a {
  padding-left: 3px;
  color: #eee;
  font-weight: bold;
  line-height: 30px;
  text-shadow: 0px 1px 0px #000;
}

#container-inner {
  padding: 15px;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(2,2,2,0)), to(rgba(2,2,2,.2)));
  background-image: -mos-gradient(linear, left top, left bottom, from(rgba(2,2,2,0)), to(rgba(2,2,2,.2)));
  background-image: -o-gradient(linear, left top, left bottom, from(rgba(2,2,2,0)), to(rgba(2,2,2,.2)));
  color: #858788;
  font: 1em "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  clear: both;
  width: 100%;
  height: 18px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  /*text-indent: -9999px;*/
  /*background: url(../images/email.png) no-repeat center 0;*/
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#ribbon {
  width: 150px;
  height: 150px;
  background: url(../images/ribbon.gif) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.superscript {
  font-size: x-small; 
  vertical-align: top;
} 

.email a {
  background-color: rgba(2,2,2,.25);
  color: white;
  -webkit-transition: all .15s ease-in;
  -mos-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
}

.email a:hover {
  text-decoration: none;
  background-color: cyan;
  color: black;
}

